.gifDiv{
    margin: 10px;
    display: inline-block;
    color: antiquewhite; 
    
}
.artist-btn {
    text-align: center; 
    margin: 10px; 
}
.jumbotron {
    background: url("../images/musicBackground.jpeg");
    width: auto;
}
#gifsView {
    background: url("../images/bestartist.jpeg"); 
    width: auto;
}


