.gifDiv{
    display: inline-block;
    color: black; 
    margin: 20px;
}
.artist-btn {
    margin: 30px; 
}
.jumbotron {
    background: url("../images/musicnote.jpeg");
    color: white;
}
.container-fluid {
    background-color:rgb(127, 228, 228);
}
#artist-form {
    color: white;
}


